.gallery {
    --z: 50px;  /* control the zig-zag  */
    --s:900px; /* control the size */
    --g: 4px;   /* control the gap */

    display: grid;
    gap: var(--g);
    clip-path: inset(1px);
    grid-auto-flow: column;


}
.gallery > a {
    width: 0;
    min-width: calc(100% + var(--z)/2);
    height: var(--s);
    object-fit: cover;

    mask: var(--mask);
    cursor: pointer;
    transition: .5s;



}
.gallery > a:hover {
    width: calc( var(--s)/2);
}
.gallery > a:first-child {
    place-self: start;

    --mask:
            conic-gradient(from -135deg at right,#0000,#000 1deg 89deg,#0000 90deg)
            50%/100% calc(2*var(--z)) repeat-y;
}
.gallery > a:last-child {
    place-self: end;

    --mask:
            conic-gradient(from   45deg at left ,#0000,#000 1deg 89deg,#0000 90deg)
            50% calc(50% - var(--z))/100% calc(2*var(--z)) repeat-y;
}


